// 共同卡片管理樣式:
// 熱門分類 管理共同卡片樣式
%all-categoryGroup {
    .category-card{
        position: relative;
        .category-cardText {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: $white;
            font-weight: 700;
            opacity: .6;
        }
    
        &.active {
            box-shadow: 0 0 0 4px  $warning;
            .category-cardText   {
                opacity: 1;
             }
    
            .ratio-16x9  img {
                     transform: scale(1.2);
             }
        }
       
        &:hover {
            .category-cardText  {
                opacity: 1;
             }
    
             .ratio-16x9  img {
                transform: scale(1.2);
            }
        } 
    }
}

// 周邊資訊 共同卡片樣式
%all-nearbyInfo-card {
    .nearbyInfo-card{
        .nearbyIcon {
            text-align: center;
            display: block;
        }
    
        .nearbyIcon-hover {
            text-align: center;
            display: none;
        }
    
        .nearbyInfo-cardtext{
            text-align: center;
        }
    
    
        &:hover{
            .nearbyIcon {
                display: none;
            }
        
            .nearbyIcon-hover {
                display: block;
            }
    
            .nearbyInfo-cardtext {
                color: $primary;
               
            }
        }
    
        &.active {
            box-shadow: $box-shadow;
            .nearbyIcon {
                display: none;
            }
        
            .nearbyIcon-hover {
                display: block;
            }
    
            .nearbyInfo-cardtext {
                color: $primary;
               
            }
        }
    }
}




// 節慶活動卡片
.home-activity{
    .card {
        border: 0;
        overflow: hidden;
    }

    .card-title {
        // 多餘的文字會截斷
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card-body{
        padding: 0 1rem;
        height: 100%;
    }

    .imgWarp {
        display: block;
        overflow: hidden;
        border-radius: 12px;
    }

    .card-img {
        height: 80px;
        &:hover {
            transform: scale(1.2);
        }
    }

   
}

@include media-breakpoint-up(md) { 
    .home-activity{
        .card-body{
            border-radius: 0 12px 12px 0px;
            background-color: #F9F9F9;
            border: 1px solid #E5E5E5;
            // 由於 border 是不可繼承樣式，設定了 border: unset 的元素，最終表現為 border: initial ，也就是預設 border 樣式，無邊框。
            border-left: unset; 
        }

        .imgWarp {
           border-radius: 0;
        }

        .card-img {
            border-radius: 12px 0 0 12px;
            height: 100%;
        }
    }
    
}


// 探索景點 - 分類卡片樣式
.spots-categoryList {
    @extend %all-categoryGroup;
}

// 節慶活動 - 分類卡片樣式
.activity-categoryList {
    @extend %all-categoryGroup;
}


// 探索景點 - 周邊卡片樣式
.spots-nearbyInfo  {
    @extend %all-nearbyInfo-card;
}


// 節慶活動 - 周邊卡片樣式
.activity-nearbyInfo {
    @extend %all-nearbyInfo-card;
}