
// 節慶活動卡片
.activity-cardGroup{
    .card {
        border: 0;
        overflow: hidden;
    }

    .card-title {
        // 多餘的文字會截斷
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card-body{
        padding: 0 1rem;
        height: 100%;
    }

    .imgWarp {
        display: block;
        overflow: hidden;
        border-radius: 12px;
    }

    .card-img {
        height: 80px;
        &:hover {
            transform: scale(1.2);
        }
    }

   
}


@include media-breakpoint-up(md) { 
    .activity-cardGroup{
        .card-body{
            border-radius: 0 12px 12px 0px;
            background-color: #F9F9F9;
            border: 1px solid #E5E5E5;
            // 由於 border 是不可繼承樣式，設定了 border: unset 的元素，最終表現為 border: initial ，也就是預設 border 樣式，無邊框。
            border-left: unset; 
        }

        .imgWarp {
           border-radius: 0;
        }

        .card-img {
            border-radius: 12px 0 0 12px;
            height: 100%;
        }
    }
    
}



// 景點卡片
.spots-card{
    position: relative;

    .text-white {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        opacity: .6;
    }

    &.active {
        box-shadow: 0 0 0 4px  $warning;
        .text-white {
            opacity: 1;
         }

        .ratio-16x9  img {
                 transform: scale(1.2);
         }
    }
   

    &:hover {
        .text-white {
            opacity: 1;
         }

         .ratio-16x9  img {
            transform: scale(1.2);
        }
    } 
}